version: "3.9"


services: 

  db:
    image: postgres:18.1-alpine3.22
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres1
    ports: 
      - "5432:5432"
  

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"      